<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <!-- Footer Area -->
            <footer class="footer-area d-sm-flex justify-content-center align-items-center justify-content-between">
                <!-- Copywrite Text -->
                <div class="copywrite-text">
                    <p>All rights reserved @<a href="#">premium-mining.com</a></p>
                </div>
                <div class="fotter-icon text-center">
                    <!--<a href="https://www.facebook.com/groups/416459706117161/permalink/416459719450493/" class="action-item mr-2" data-toggle="tooltip" title="Facebook">-->
                    <!--    <i class="fa fa-facebook" aria-hidden="true"></i>-->
                    <!--</a>-->
                    <!--<a href="https://chat.whatsapp.com/J2YDhTfrB2iCH11l3JyEbI" class="action-item mr-2" data-toggle="tooltip" title="Whatsapp">-->
                    <!--    <i class="fa fa-whatsapp" aria-hidden="true"></i>-->
                    <!--</a>-->
                    <!--<a href="https://t.me/joinchat/QwgPwxlZKK-aQ3u-KpttIg" class="action-item mr-2" data-toggle="tooltip" title="Telegram">-->
                    <!--    <i class="fa fa-telegram" aria-hidden="true"></i>-->
                    <!--</a>-->
                    <!--<a href="#" class="action-item mr-2" data-toggle="tooltip" title="Instagram">-->
                    <!--    <i class="fa fa-instagram" aria-hidden="true"></i>-->
                    <!--</a>-->
                </div>
                <style>
                    .goog-te-gadget{
                        font-size: 0px;
                    }
                    
                    #google_translate_element span{
                        display: none;
                    }
                    
                    select{
                        background: #;
                    }
                    
                    .goog-te-combo {
                        color: #1a222c;
                    }
                </style>
                <div class="copyRights text-center">
                  <div id="google_translate_element"></div>
                
                <script type="text/javascript">
                	function googleTranslateElementInit() {
                		new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
                	}
                	</script>
                	
                	<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                </div>
            </footer>
        </div>
    </div>
</div>