<meta charset="UTF-8">
<meta name="description" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Required meta tags -->

<title>Premium Mining - Online Bitcoin Investment Platform</title>

<!-- Favicon -->
<link rel="icon" href="/img/kryplogo2.png">

<!-- Plugins css -->
<link rel="stylesheet" href="/css/default-assets/mini-event-calendar.min.css">
<link rel="stylesheet" href="css/default-assets/datatables.bootstrap4.css">
<link rel="stylesheet" href="css/default-assets/responsive.bootstrap4.css">
<link rel="stylesheet" href="css/default-assets/buttons.bootstrap4.css">
<link rel="stylesheet" href="css/default-assets/select.bootstrap4.css">

<link rel="stylesheet" href="css/dropzone.min.css">
<link rel="stylesheet" href="css/default-assets/dropify.min.css">
<link rel="stylesheet" href="css/default-assets/fileupload.css">

<!--<style>-->
<!--.bg {-->
<!--  background-image: url("/img/bitsth.jpeg");-->

<!--  height: 100%; -->

<!--  background-position: center;-->
<!--  background-repeat: no-repeat;-->
<!--  background-size: cover;-->
<!--}-->
<!--</style>-->

<script src="//code.tidio.co/tezqwgyqkbzuiirshrnsdlcxiswjuzoy.js" async></script>

<!-- Master Stylesheet CSS -->
<link rel="stylesheet" href="/style.css">