<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Required meta tags -->

    <title>premium mining - Bitcoin & Cryptocurrency Platform</title>

    <!-- Favicon -->
    <link rel="icon" href="/img/core-img/favicon.png">

    <!-- Master Stylesheet CSS -->
    <link rel="stylesheet" href="/style.css">

</head>

<script src="//code.tidio.co/tezqwgyqkbzuiirshrnsdlcxiswjuzoy.js" async></script>

<body class="login-area">
   <!-- Preloader -->
    <div id="preloader-area">
        <div class="lds-ripple">
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- Preloader -->

    <!-- ======================================
    ******* Page Wrapper Area Start **********
    ======================================= -->
    <div class="main-content- h-100vh">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center">
                <div class="hero">
                    <div class="cube"></div>
                    <div class="cube"></div>
                    <div class="cube"></div>
                    <div class="cube"></div>
                    <div class="cube"></div>
                    <div class="cube"></div>
                </div>
                <div class="col-sm-10 col-md-8 col-lg-5">
                    <!-- Middle Box -->
                    <div class="middle-box">
                        <div class="card">
                            <div class="card-body p-4">
                                <h4 class="font-24 mb-30">Forgot Password ?</h4>

                                <form>
                                    <div class="form-group">
                                        <label class="lock-text text-dark">New Password</label>
                                        <input name="email" type="hidden" id="email" class="form-control height-50" value="<%= email %>" required="">
                                        <input class="form-control height-50" name="password" type="text" id="password" required="">
                                        

                                    <div class="form-group mb-0">
                                        <button class="btn btn-primary btn-block" id="recover" type="submit">Reset</button>
                                    </div>
                                </form>
                                <!-- end card -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ======================================
    ********* Page Wrapper Area End ***********
    ======================================= -->

    <!-- Plugins js -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bundle.js"></script>

    <!-- Active JS -->
    <script src="/js/default-assets/active.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    
   <script type="text/javascript">
            (function(){
                $('#recover').click(function(event){
                    event.preventDefault()
                    console.log('working')

                    var values = {
                        password: $('#password').val().trim(),
                        email: $('#email').val().trim()
                    }

                    console.log(values)

                    $.ajax({
                        url : '/recover1',
                        type: 'POST',
                        data : values,
                        success: function(data, textStatus, jqXHR){
                            console.log(JSON.stringify(data))
                            if (data.confirmation != 'success'){
                                var msg = data.data
                                swal({
                                  title: "Error!",
                                  text: msg,
                                  icon: "warning",
                                  button: "Ok!",
                                });
                                return
                            }
                            if (data.confirmation === 'success'){
                                console.log(data.data)

                                var msg = data.data
                                swal({
                                  title: "successful!",
                                  text: msg,
                                  icon: "success",
                                  button: "Ok!",
                                });

                                return window.location.href = '/login'
                            }
                            // if (!data) {
                            //     console.log('investment successful')
                            // }

                            // window.location.href = '/'

                        },
                        error: function (jqXHR, textStatus, err){
                            console.log('Error: ' + err.message)
                        } 
                    })

                    // var values = {
                    //     file: $('#input-id').val().trim()
                    // }

                    // console.log(values)
                })
            })()
        </script>

</body>

</html>